{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": 1, // Remember, this means error!
    "max-len": [
      "error",
      {
        "code": 130,
        "ignoreTrailingComments": true,
        "ignoreComments": true
      }
    ],
    "semi": "error"
  }
}
